<!DOCTYPE html>
<html lang="es">
<body class="container">

<header>
    <%- include('../partials/header', {variant:'value'}); %>
</header>

<main>
    <div>
        <form action="/create" method="post">
            <div>
                <label>Brand:</label>
                <input name="brand" id="brand" value='<%=value.brandValue%>'>
            </div>
            <div>
                <label>Model:</label>
                <input name="model" id="model" value='<%=value.modelValue%>'>
            </div>
            <div>
                <label>Price:</label>
                <input name="price" id="price" value='<%=value.priceValue%>'>
            </div>
            <div>
                <input type="submit"/>
            </div>
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>