<!DOCTYPE html>
<html lang="es">
<body class="container">

<header>
    <%- include('../partials/header', {variant:'mobile'}); %>
</header>

<main>
    <ul>
        <strong>Mobile:</strong> <%= mobile.brand %> <strong>Model:</strong> <%= mobile.model %>
        <br>
        <strong>Price:</strong><%= mobile.price %>€
    </ul>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>